.main-button{
  font-family: 'Harry Potter';
  color: #59216f;
  background-color: #e5c273;
  border-radius: 400%;
  font-size: xxx-large

}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.main-button:hover{
  animation: bounce 1s;
}

.main-button-grid{
  display: flex;
  justify-content: center;
  grid-column-start: 2;
  grid-row-start: 5;
  align-items: center;
}

.answer-button{
  font-family: 'harry-potter'
}

.answer-button:hover{

}

.heading{
  font-family: 'harry-potter'
}

.avatar-hermione{
  grid-column-start: 1;
  height: 90%;
  width: auto;
  object-fit: cover;
  border-radius: 50%;
  border-style: solid;
  border: #740001;
  border-width: thick;
}
.avatar-luna{
  grid-column-start: 2;
  height: 90%;
  width: auto;
  object-fit: cover;
}
.avatar-tonks{
  grid-column-start: 3;
  height: 90%;
  width: auto;
  object-fit: cover;
}
.avatar-pansy{
  grid-column-start: 4;
  height: 90%;
  width: auto;
  object-fit: cover;
}
.avatar-grid {
  display: grid;
  gap: 1em;
  grid-column-start: 2;
  grid-row-start: 4;
  grid-template-columns: repeat(4, 25%)
}

.home-wrapper > div {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: repeat(5, 20%)
}

.question-body-grid{

}

.finish-body-grid{

}

.body-mobile {

}

.character-choice {
  
}

.character-choice-text{
  font-family: 'harry-potter'
}
.score{
  font-family: 'harry-potter'
}

.endScore{
  font-family: 'harry-potter'
}

.entername {
  font-family: 'harry-potter'
}

.gif {

}

.emblem {
  position: relative;
  /* left: 1040px; */
  grid-column-start: 1;
  grid-row-start: 2

}
/* .emblem-grid {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 2

} */

.logo {
  position: center;
}
.logo-grid{
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1
}

.bg {
  background-image: url('./pics/map2.png');
}