.main-button {
  font-family: 'Harry Potter';
  color: #59216f;
  background-color: #e5c273;
  border-radius: 400%;
  font-size: xxx-large;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.main-button:hover {
  animation: bounce 1s;
}

.main-button-grid {
  display: flex;
  justify-content: center;
  grid-column-start: 2;
  grid-row-start: 5;
  align-items: center;
}

.answer-button-gryffindor {
  font-family: 'Harry Potter';
  border-radius: 50%;
  background-color: #740001;
  color: #d3a625;
}
.answer-button-gryffindor:hover {
  font-family: 'Harry Potter';
  border-radius: 50%;
  background-color: #d3a625;
  color: #740001;
}
.answer-button-slytherin {
  font-family: 'Harry Potter';
  border-radius: 50%;
  background-color: #1a472a;
  color: #5d5d5d;
}
.answer-button-slytherin:hover {
  font-family: 'Harry Potter';
  border-radius: 50%;
  background-color: #5d5d5d;
  color: #1a472a;
}
.answer-button-hufflepuff {
  font-family: 'Harry Potter';
  border-radius: 50%;
  background-color: #ffd800;
  color: #000000;
}
.answer-button-hufflepuff:hover {
  font-family: 'Harry Potter';
  border-radius: 50%;
  background-color: #000000;
  color: #ffd800;
}
.answer-button-ravenclaw {
  font-family: 'Harry Potter';
  border-radius: 50%;
  background-color: #0e1a40;
  color: #946b2d;
}

.answer-button-ravenclaw:hover {
  font-family: 'Harry Potter';
  border-radius: 50%;
  background-color: #946b2d;
  color: #0e1a40;
}

.heading {
  font-family: 'Harry Potter';
  margin-left: auto;
  margin-right: auto;
}

.avatar-hermione {
  grid-column-start: 1;
  height: 60%;
  width: auto;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid #740001;
}
.avatar-luna {
  grid-column-start: 2;
  height: 60%;
  width: auto;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid #0e1a40;
}
.avatar-minerva {
  grid-column-start: 4;
  height: 60%;
  width: auto;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid #d3a625;
}
.avatar-bellatrix {
  grid-column-start: 3;
  height: 60%;
  width: auto;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid #1a472a;
}
.avatar-grid {
  display: grid;
  gap: 1em;
  grid-column-start: 2;
  grid-row-start: 4;
  grid-template-columns: repeat(4, 25%);
}

.home-wrapper > div {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: repeat(5, 20%);
}

.question-body-grid {
}

.finish-body-grid {
}

.body-mobile {
}

.character-choice {
}

.character-choice-text {
  font-family: 'Harry Potter';
}
.score {
  font-family: 'Harry Potter';
}

.endScore {
  font-family: 'Harry Potter';
}

.entername {
  font-family: 'Harry Potter';
}

.gif {
}

.emblem {
  position: relative;
  /* left: 1040px; */
  grid-column-start: 1;
  grid-row-start: 2;
}
/* .emblem-grid {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 2

} */

.logo {
  position: center;
  border-radius: 40%;
}
.logo-grid {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1;
}

.bg {
  background-image: url('./pics/map2.png');
}

.temp-grid {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 2;
}

.answer-clicked {
  background-color: rgba(0, 156, 0, 0.497);
}
.wrong-answer-clicked {
  background-color: rgba(172, 24, 24, 0.613);
}
